<launch>
  
  <node pkg="facial_expressions" type="expression_switch"  name="expression_switch" output="screen">	
    <param name="serial_config" type="string" value="$(find facial_expressions)/config/serialport.yaml" />
    <param name="expression_lib" type="string" value="$(find facial_expressions)/config/emotions.yaml" />
  </node>
  
</launch>
